{% extends "base.html" %}
{% block content %}
<main>
    <section class="title-container">
        <h1 class="page-title"></h1>
        <a id="add-remove-container">
            <h2 id="add-remove-text">Add/Remove</h2>
            <i></i>
        </a>
      </section>

      <section>
      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>

      <div class="card-container">
        <img src="" aria-label="event picture">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
        <i></i>
      </div>
      </section>
      
</main>
{% endblock %}