
{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <header class="title-container">
        <h1 class="page-title">Events</h1>
    </header>
    <main>
        <section class="event-grid">
            {% for event in events %}
            <div class="card-container">
                <h3 class="card-title">{{ event.title }}</h3>
                <p class="card-text">{{ event.description }}</p>
                <p class="card-date">
                    {% if event.time %}
                        {{ event.date }} at {{ event.time }}
                    {% else %}
                        {{ event.date }}
                    {% endif %}
                </p>
            </div>
            {% empty %}
            <p>No events available.</p>
            {% endfor %}
        </section>
    </main>
</body>
{% endblock %}
