{% extends "base.html" %}
{% block content %}
<body>
<main>
  <section class="title-container">
    <h1 class="page-title">Get to know us.</h1>
  </section>
  <h2 class="title">Latest News</h2>
  <section class="gettoknow-section" id="gettoknow-section1">
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title">ABCDE</h3>
        <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title">ABCDE</h3>
        <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title">ABCDE</h3>
        <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title">ABCDE</h3>
        <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title">ABCDE</h3>
        <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
      </div>
  </section>
  <h2 class="title">History</h2>
  <section class="gettoknow-section" id="gettoknow-section2">
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title">ABCDE</h3>
      <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title">ABCDE</h3>
      <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title">ABCDE</h3>
      <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title">ABCDE</h3>
      <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title">ABCDE</h3>
      <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
    </div>
  </section>
  <h2 class="title">Awareness</h2>
  <section class="gettoknow-section" id="gettoknow-section3">
  
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title">ABCDE</h3>
    <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title">ABCDE</h3>
    <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title">ABCDE</h3>
    <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title">ABCDE</h3>
    <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title">ABCDE</h3>
    <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
  </div>
  </section>
</main>
</body>

{% endblock %}