{% extends "base.html" %}
{% block content %}
<body>
<main>
  <section class="title-container">
    <h1 class="page-title"></h1>
  </section>

  <section class="gettoknow-section">
      <h2 id="latest-news"></h2>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
      </div>
      <div class="card-container">
        <img src="" aria-label="">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
      </div>
  </section>
  <section class="gettoknow-section">
    <h2 id="history"></h2>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title"></h3>
      <p class="card-text"></p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title"></h3>
      <p class="card-text"></p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title"></h3>
      <p class="card-text"></p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title"></h3>
      <p class="card-text"></p>
    </div>
    <div class="card-container">
      <img src="" aria-label="">
      <h3 class="card-title"></h3>
      <p class="card-text"></p>
    </div>
  </section>
  <section class="gettoknow-section">
  <h2 id="awareness"></h2>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title"></h3>
    <p class="card-text"></p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title"></h3>
    <p class="card-text"></p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title"></h3>
    <p class="card-text"></p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title"></h3>
    <p class="card-text"></p>
  </div>
  <div class="card-container">
    <img src="" aria-label="">
    <h3 class="card-title"></h3>
    <p class="card-text"></p>
  </div>
  </section>
</main>
</body>

{% endblock %}