{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="timeline">
    <div class="historycontainer historyleft">
      <div class="historycontent">
        <h2>1533</h2>
        <h3>Buggery Act - UK</h3>
        <p>Described "buggery" as a "detestable and abominable vice" whether committed with "mankind or beast" punishable by death.</p>
      </div>
    </div>
    <div class="historycontainercontainer historyright">
      <div class="historycontent">
        <h2>1540</h2>
        <h3>First UK buggery execution</h3>
        <p>1st Baron of Hungerford executed and was also accused of treason and witchcraft</p>
      </div>
    </div>
  </div>
  <div class="historycontainer historyleft">
    <div class="historycontent">
      <h2>1835</h2>
      <h3>Last UK execution</h3>
      <p>James Pratt and John Smith were two labourers and were hanged at Newgate Prison, London.</p>
    </div>
  </div>
  <div class="historycontainer historyright">
    <div class="historycontent">
      <h2>1861</h2>
      <h3>Buggery no longer a capital crime - England</h3>
      <p>The punishment was reduced to life imprisonment in the Offences against person act.</p>
    </div>
  </div>
</div>
{% endblock %}