{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<main class="flex-grow-1">

    <section id="landing">
        <h1 id="landing-title">WIKI-PRIDE</h1>
        <h2 id="landing-slogan">BE PART OF THE MOVE</h2>
        <a id="join-button" href="" aria-label="access the sign up form">JOIN US!</a>
    </section>

    <section id="landing-cards">
        <div class="card-container">
            <a class="nav-link" href="{% url 'gettoknow' %}" aria-label="navigate to the 'get to know' webpage">
                <h3 class="card-title">GET TO KNOW</h3>
                <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
            </a>
        </div>
        <div class="card-container">
            <a class="nav-link" href="{% url 'events' %}" aria-label="navigate to the 'events' webpage">
                <h3 class="card-title">EVENTS</h3>
                <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
            </a>
        </div>
        <div class="card-container">
            <a class="nav-link" href="{% url 'us' %}" aria-label="navigate to the 'who are we?' webpage">
                <h3 class="card-title">CREATORS</h3>
                <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
            </a>
        </div>
        <div class="card-container">
            <a class="nav-link" href="{% url 'sign' %}" aria-label="navigate to the 'sign-up' webpage">
                <h3 class="card-title">SIGN UP</h3>
                <p class="card-text">abcde fghi jklmnop qrs tuvw xyz</p>
            </a>
        </div>
    </section>
</main>

{% endblock %}