{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <section class="container">
        <div class="form-container">
            <h1>Sign Up</h1>
            <form method="POST" action="" target="_blank">
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" name="username" required>
                
                <label class="form-label"for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
                
                <label class="form-label"for="password">Password</label>
                <input type="password" id="password" name="password" required>
                
                <label class="form-label"for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
                
                <button type="submit" class="submit-btn">Join the Pride</button>
            </form>
        </div>
        <div class="profile-container">
            <img src="path_to_profile_image.jpg" alt="Profile Picture">
            
        </div>
    </section>
</body>
    {% endblock %}