{% extends "base.html" %}
{% load static %}
{% block content %}

<body>
    <header>
        <h1 class="page-title">Who Are We?</h1>
    </header>
    <main>
        <section class="vision-container">
            <div class="vision">
                <h2 class="vision-title">Vision</h2>
                <p class="vision-text">We will have our vision here</p>
                <a href="https://www.linkedin.com" aria-label="LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
            </div>
        </section>
        <section class="team-member">
            <h2 class="team-member-name">Rachel</h2>
            <img src="path_to_image.jpg" alt="Rachel">
            <div class="team-member-info">
                <p>Information about Rachel that will include her LinkedIn and GitHub profiles.</p>
                <a href="https://www.linkedin.com/in/rachel-walmsley-full-stack-software-developer/" aria-label="Rachel's LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
                <a href="https://github.com/RachWalm" aria-label="Rachel's GitHub profile">
                    GitHub
                    <i class="icon-github"></i>
                </a>
            </div>
        </section>
        <section class="team-member">
            <h2 class="team-member-name">Aliona</h2>
            <img src="path_to_image.jpg" alt="Aliona">
            <div class="team-member-info">
                <p>Information about Aliona that will include her LinkedIn and GitHub profiles.</p>
                <a href="http://www.linkedin.com/in/aliona-janusko-5b806b203" aria-label="Aliona's LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
                <a href="https://github.com/Aliona83?tab=repositories" aria-label="Aliona's GitHub profile">
                    GitHub
                    <i class="icon-github"></i>
                </a>
            </div>
        </section>
        <section class="team-member">
            <h2 class="team-member-name">Rodrigo</h2>
            <img src="path_to_image.jpg" alt="Rodrigo">
            <div class="team-member-info">
                <p>Information about Rodrigo that will include his LinkedIn and GitHub profiles.</p>
                <a href="https://www.linkedin.com/in/rodrigo-v%C3%A1zquez-asenjo-316197155/" aria-label="Rodrigo's LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
                <a href="https://github.com/RodriVazquezAsenjo" aria-label="Rodrigo's GitHub profile">
                    GitHub
                    <i class="icon-github"></i>
                </a>
            </div>
        </section>
        <section class="team-member">
            <h2 class="team-member-name">Erin</h2>
            <img src="path_to_image.jpg" alt="Erin">
            <div class="team-member-info">
                <p>Information about Erin that will include her LinkedIn and GitHub profiles.</p>
                <a href="http://www.linkedin.com/in/erinvdoyle" aria-label="Erin's LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
                <a href="https://github.com/erinvdoyle" aria-label="Erin's GitHub profile">
                    GitHub
                    <i class="icon-github"></i>
                </a>
            </div>
        </section>
        <section class="team-member">
            <h2 class="team-member-name">Nonty</h2>
            <img src="path_to_image.jpg" alt="Nonty">
            <div class="team-member-info">
                <p>Information about Nonty that will include her LinkedIn and GitHub profiles.</p>
                <a href="http://www.linkedin.com/in/nontyd" aria-label="Nonty's LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
                <a href="https://github.com/NontyD" aria-label="Nonty's GitHub profile">
                    GitHub
                    <i class="icon-github"></i>
                </a>
            </div>
        </section>
        <section class="team-member">
            <h2 class="team-member-name">Krishan</h2>
            <img src="path_to_image.jpg" alt="Krishan">
            <div class="team-member-info">
                <p>Information about Krishan that will include his LinkedIn and GitHub profiles.</p>
                <a href="https://www.linkedin.com/in/krishang/" aria-label="Krishan's LinkedIn profile">
                    LinkedIn
                    <i class="icon-linkedin"></i>
                </a>
                <a href="https://github.com/kslg" aria-label="Krishan's GitHub profile">
                    GitHub
                    <i class="icon-github"></i>
                </a>
            </div>
        </section>
    </main>
</body>

{% endblock %}